.product-container {
    display: flex;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    width: 90vw;
  }
  
   .product-image {
    justify-self: left;
    width: 50vw;
  }

  .product-image img {
    max-width: 100%;
    height: auto;
  }

  .product-details {
    justify-self: left;
    width: 50vw;
    align-self: center;
  }
  
  .product-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .product-details p {
    margin: 5px 0;
  }
  
  .product-details button {
    padding: 10px 20px;
    background-color: #51aa1b;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .product-details button:hover {
    background-color: #5dc21e;
  }
  